a {
    color: black;
}

img.media-image {
    width: 4rem;
}

.entry {
    margin: 0.5rem;
    padding: 0.5rem;
    color: #e0e0e0;
    background-color: #203040;
}

.setting {
    margin-bottom: 2rem;
}


